@model IEnumerable<EFCore_03.Models.Odunc>

@{
    ViewData["Title"] = "Odunc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success">Ödünç</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="text-primary">
            <th>
                @Html.DisplayNameFor(model => model.VerilisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iptal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitapIsbnNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            <td>
                @Html.DisplayFor(modelItem => item.VerilisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iptal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapIsbnNavigation.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.AdSoyad)
            </td>
            <td class="text-decoration-none font-weight-bold">
                <a class="text-danger" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-danger" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
