@model IEnumerable<EFCore_03.Models.Yayinevleri>

@{
    ViewData["Title"] = "Yayınevleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success">Yayınevleri</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="text-primary">
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td class="text-decoration-none font-weight-bold">
                <a class="text-danger" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-danger" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
