@model List<Student>
<h5 class="display-4">Assign Lesson</h5>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>No</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Period</td>
                    <td>Section</td>
                    <td>Assigned Lessons</td>
                    <td>Assign Lesson</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.StudentNo</td>
                        <td>@item.StudentName</td>
                        <td>@item.StudentSurname</td>
                        <td>@item.StudentPeriod</td>
                        <td>@item.Section</td>
                        <td></td>
                        <td>
                            <a asp-controller="StudentLesson" asp-action="Assign" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Assign Lesson</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
